@import ~sass/variables
@import ~sass/mixins

\:host
  width: 100%
  height: 100%

.meta-model
  margin-top: 22px

.name
  +druk-italic(30px)
  // height: 1.3em // Remove height to allow for longer model names to wrap
  word-wrap: break-word // In case of very long names
  +mqmax($tablet)
    font-size: 32px
  +mqmax($tablet-portrait)
    font-size: 21px

.origin
  +union(14px)
  height: 16px
  margin-bottom: 8px

.selection-button
  cursor: pointer

.photo-overlay
  +flex(center, center)
  +druk(25px)
  background: $black
  color: $bg
  width: 100%
  height: 100%
  font-size: 15px
  opacity: 0
  transition: opacity .5s
  top: 0
  left: 0
  position: absolute
  &:hover
    opacity: 1
  li
    color: $bg !important

.details
  +flex(flex-start, center)
  width: 100%
  flex-direction: column
  margin: 0
  li
    width: 100%
    height: 20px
    padding: 1.2em 0
    margin: 0


.heart-overlay
  opacity: 0
  margin-left: -14px
  transition: opacity .5s
  &:hover
    opacity: 1
