@import ~sass/variables
@import ~sass/mixins

\:host > div:first-child
  width: 111px
  +flex(flex-start, center)

.fav-counter
  +druk(10px)
  padding-left: 5px    

.heart
  width: 15px
  height: 15px
  padding-left: 27px
  cursor: pointer
  box-sizing: content-box
  position: relative

.logo
  cursor: pointer
  width: 111px
  height: 30px

.search-icon-link
  z-index: 2000

app-model-select
  +druk(12px)
  position: relative
  display: inline-block
  transform: translateX(-24px)
  min-width: 190px
