@font-face {
    font-family: 'druk-italic';
    src: url('/assets/fonts/DrukWideSuperItalic.woff') format('woff'), url('/assets/fonts/DrukWideSuperItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'union';
    src: url('/assets/fonts/UnionRegular.woff') format('woff'), url('/assets/fonts/UnionRegular.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
}

.page {
    height: 792px;
    width: 1123px;
}

.black-bg {
    background-color: #000;
}

.pink-bg {
    background-color: rgb(245, 220, 220);
}

img.logo {
    float: right;
    width: 111px;
    height: 30px;
    padding-right: 40px;
    padding-top: 40px;
}

.left-img, .right-img {
    position: relative;
    width: 400px;
    height: 720px;
    overflow: hidden;
    display: inline-block;
    margin-top: 40px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.left-img {
    margin-left: 40px;
}

.right-img {
    margin-left: 20px;
}

h1 {
    color: rgb(245, 220, 220);
    font-size: 100px;
    padding-top: 300px;
    margin: 0;
    text-align: center;
    font-family: 'druk-italic', sans-serif;
}

h2 {
    color: rgb(245, 220, 220);
    font-size: 50px;
    margin: 0;
    font-family: 'druk-italic', sans-serif;
    padding-left: 150px;
}

ul {
    color: rgb(245, 220, 220);
    padding-left: 150px;
}

ul.inline-list {
    display: inline-block;
    text-align: center;
    padding-left: 0;
}

ul.inline-list li {
    display: inline;
    padding-right: 20px;
    float: left;
}

ul li {
    font-family: 'union', sans-serif;
    font-size: 14px;
    list-style-type: none;
}

div.row {
    width: 100%;
}

div.left-col, div.right-col {
    display: inline-block;
    width: 49%;
}
