#berta
  button.btn
    +druk-italic(18px)
    border-radius: 0
    border: 2px solid $black
    padding-top: 24px
    padding-bottom: 24px
    +mqmax($tablet-portrait)
      font-size: 15px

  button.btn-primary
    background-color: transparent
    color: $black
    +mqmax($mobile)
      padding-top: 15.5px
      padding-bottom: 15.5px
    &:hover
      background-color: $black
      color: $bg
