.grid-wrapper ul
  +flex(flex-start, flex-start)
  width: 100%
  flex-wrap: wrap

  li
    display: inline-block
    list-style-type: none
    // height: 600px
    width: calc(33.333% - 16.6667px)
    margin: 0 25px 25px 0
    &:nth-child(3n + 0)
      margin-right: 0
    a
      width: 100%
      height: 100%

  .photo-container
    width: 100%
    height: 0
    padding-top: 150%
    position: relative
    background-size: cover
    box-sizing: border-box
    border: 1px solid $black


  +mqmax($web-container)
    li
      // height: 44.1%
      // height: 44.1vw

  +mqmax($tablet)
    li
      margin: 0 23px 23px 0

  +mqmax($tablet-portrait)
    margin-top: 45px
    li
      width: calc(50% - 10px)
      // height: 65.5%
      // height: 65.5vw
      margin: 0 20px 20px 0
      &:nth-child(3n + 0)
        margin-right: 20px
      &:nth-child(2n + 0)
        margin-right: 0

  +mqmax($mobile)
    li
      width: 100%
      // height: 127vw
      margin-right: 0
      &:nth-child(3n + 0),
      &:nth-child(2n + 0)
        margin-right: 0
