navbar-desktop
  li, .heart-link, .search-icon-link
    cursor: pointer
    height: 40px
    margin-top: 24px

  li
    transition: transform .25s ease-in-out
    &:hover
      transform: translateY(-5px) !important

  .search-icon-link
    width: 15px
    overflow: visible
    img
      transition: height .25s ease-in-out, width .25s ease-in-out
      &:hover
        height: 20px
        width: 20px
    img.no-hover
      &:hover
        height: 15px
        width: 15px  


  .tooltip-my-selection
    visibility: hidden
    width: 140px
    font-size: 10px
    background-color: $white
    color: $black
    text-align: center
    padding: 3px 0
    border: solid 1px $black
    position: absolute
    z-index: 1
    top: 75%
    left: 20px
    &:before,&:after
      border-left: 5px solid transparent
      border-right: 5px solid transparent
      content: ""
      position: absolute
      left: 8px
      width: 0
      height: 0
      display: block
    &:before
      border-bottom: 8px solid $black
      bottom: 21.5px
    &:after
      border-bottom: 8px solid $white
      bottom: 20px

.heart-link
  position: relative
  white-space: nowrap
  &:hover .tooltip-my-selection
    visibility: visible

.heart-link, .search-icon-link
  margin-top: 16px !important
