@import ~sass/variables
@import ~sass/mixins

h1
  font-size: 160px
  min-height: 225px
  +mqmax($tablet)
    font-size: 115px
    line-height: 225px
  +mqmax($tablet-portrait)
    font-size: 100px
    line-height: 190px
  +mqmax($mobile)
    margin: 81px 0 143px
    height: 130px
    font-size: 75px
    line-height: 1em
    min-height: unset


.links
  +druk-italic(30px)
  +flex(flex-end, center)
  margin: 0
  flex: 1 1 100%
  justify-content: space-around
  +mqmax($tablet-portrait)
    font-size: 24px

  +mqmax($mobile)
    display: none

.grid-wrapper li
  +flex(center, flex-start)
  flex-direction: column
  padding-bottom: 35px
  text-align: center
  +mqmax($tablet-portrait)
    padding-bottom: 0px

.meta-model
  +flex(center, flex-start)
  flex-direction: column

.scroll-up
  margin-top: 0
  +mqmax($mobile)
    margin-top: 32px

+mqmax($mobile)
  floating-menu
    display: none

.grid-wrapper
  // padding-left: 20px
  li
    // height: 740px
    +mqmax($tablet)
      // height: 815px
      width:  calc(50% - 10px)
      margin-bottom: 0
      &:nth-child(1n + 0)
        // margin-right: 20px
      &:nth-child(2n + 0)
        margin-right: 0
    +mqmax($tablet-portrait)
      // height: 616px
      &:nth-child(1n + 0)
        // margin-right: 14px
      &:nth-child(2n + 0)
        margin-right: 0

+mqmax($mobile)
  .grid-wrapper
    padding-left: 0
    li
      width: 100%
      // height: 655px
      margin-right: 0
      &:nth-child(3n + 0),
      &:nth-child(2n + 0),
      &:nth-child(1n + 0)
        margin-right: 0


