@import ~sass/variables
@import ~sass/mixins

\:host
  position: fixed 
  z-index: 1031
  width: 100%
  height: 100%
  top: 0
  left: 0
  background: $black
  color: $bg!important
  padding: 40px
  +druk(16px)
  +flex(center, unset)
  > div:first-child
    max-width: 1200px
    overflow-y: scroll

    


