.main-cropper-wrapper {
  max-width: 80%;
  margin: 0 auto 60px;

  h3 { text-align: center}

  .cropper-preview {
    max-width: 50%;
    margin: 0 auto;
    display: block;
  }
}

.wrapper-buttons {
  display: flex;
  button { margin: 20px}
  button:first-child {
    margin-left: auto;
  }
  button:nth-child(2) {
    margin-right: auto;
  }
}

.save-wrapper {
  display: flex;
  button {
    margin-left: auto;
  }
}